services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    volumes:
      - ./backend/data:/app/data
    environment:
      - MAX_ROWS=50000
    ports:
      - "8000:8000"
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    environment:
      - VITE_API_BASE_URL=http://localhost:8000
    ports:
      - "8080:8080"
    depends_on:
      - backend
